@font-face {
  font-family: 'mkda'; /* Nombre que usarás para referenciar la fuente */
  src: url('../assets/fonts/mkda.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
  /* Puedes agregar más formatos si tu fuente tiene diferentes extensiones (woff2, ttf, etc.) */
}
p {
  font-family: "mkda";
  position: fixed;
  top: 0;
  left: 40%;
  color: white;
  width: 150px;
}
body {
    margin: 0;
    overflow: hidden;
    background: black;
}
.canvas {
    width: 600px;
    height: 310px;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}
.background {
    position: relative;
}
.character {
    width: fit-content;
    position: absolute;
    top: 42%;
}
.cruceta {
  position: fixed;
  display: flex;
  top: 320px;
  width: 35px;
  height: 125px;
  border-radius: 50%;
  left: 20px;
}   
.img-cruz {
  opacity: 70%;
  width: 130px;
  z-index: 20;
}
.cuadrantes {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 200px;
    position: absolute;
    left: -39px;
    z-index: 300;
    .cuadrante-1 {
      transform: rotate(45deg)
    }
    .cuadrante-2{
      transform: rotate(90deg)
    }
    .cuadrante-3{
      transform: rotate(135deg)
    }
    .cuadrante-4{
      transform: rotate(180deg)
    }
    .cuadrante-half-1 {
      height: 50%;
      width: 2px;
    }
    .cuadrante-half-2 {
      height: 50%;
      width: 2px;
    }
}  
.active {
  display: block !important;
}
.walk {
  display: none;
}
.iddle {
  display: none;
}
.jBall {
  display: none;
  width: 175px;
}
.shadow {
  display: none;
  opacity: 0.5;
  transform: skewX(70deg);
  transform-origin: 0% 110%;
  top: 83px;
  height: 50px;
  filter: blur(2px);
  position: absolute;
  width: 121px;
}
.back1 {
  filter: brightness(125%);
  width: 1200px;
}
.back2 {
  top: 74%;
  display: block;
  filter: contrast(110%);
  position: absolute;
  height: 100px;
  width: 1200px;
}
@media only screen and (min-width: 600px) {
  .cruceta {
      display: none; /* Oculta la cruceta en dispositivos con un ancho de pantalla mayor o igual a 600px */
  }
}

