
body {
    margin: 0;
    overflow: hidden;
    background: black;
}
.canvas {
    width: 600px;
    height: 310px;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}
.background {
    position: relative;
}
.character {
  position: fixed;
  top: 35%;
  width: 35px;
  height: 125px;
  border-radius: 50%;
  left: 24%;
}
.cruceta {
  position: absolute;
  top: 45%;
  width: 35px;
  height: 125px;
  border-radius: 50%;
  left: 4%;
}   
.cuadrantes {
    display: flex;
    height: 100%;
    justify-content: center;
    .cuadrante-1 {
      transform: rotate(45deg)
    }
    .cuadrante-2{
      transform: rotate(90deg)
    }
    .cuadrante-3{
      transform: rotate(135deg)
    }
    .cuadrante-4{
      transform: rotate(180deg)
    }
    .cuadrante-half-1 {
      height: 50%;
      width: 2px;
      background: red;
    }
    .cuadrante-half-2 {
        height: 50%;
        width: 2px;
        background: green;
    }
}  
.active {
  display: block !important;
}
.walk {
  display: none;
}
.iddle {
  display: none;
}
.jBall {
  display: none;
  width: 175px;
}
.shadow {
  display: none;
  opacity: 0.5;
  transform: skewX(70deg);
  transform-origin: 0% 110%;
  top: 83px;
  height: 50px;
  filter: blur(2px);
  position: absolute;
  width: 121px;
}
.back1 {
  filter: brightness(125%);
  width: 1200px;
}
.back2 {
  top: 74%;
  display: block;
  filter: contrast(110%);
  position: absolute;
  height: 100px;
  width: 1200px;
}


